@import '../../common/colors.scss';

.movie-section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    color: $font-primary;
    font-weight:400;
}
.movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: $font-secondary;
    display: flex;

    span {
        margin-right: 20px;
    }

}
.movie-title {
    color:$font-primary;
}

.movie-plot {
    margin-top: 30px;
    line-height: 1.8rem;

}
.movie-info >div span:first-child {
    padding:  10px 0px;
    color:$font-primary;
    font-weight: 600;
    width: 100px;
    display: inline-block;
}
.movie-info >div span {
    color: $font-secondary;
}

.section-right {
    margin-left: 30px;
}