@import '../src/common/colors.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background: $primary-color;
}

.container {
  margin: 0px 40px;
}

.search-bar{
  width: 50%;
  display: flex;
  justify-content: center;

  form{
    display: flex;
    justify-content: center;
    width: 70%;

    button {
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 20px;
    }
  }
  input{
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline: none;


  }

}